[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
src = {editable = true, path = "./src"}
boto3 = "*"
urllib3 = "<2.0.0"  # Downgrade to a compatible version of urllib3

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"  # Optional, but can help specify the exact version
